[submodule "Nova-Tools"]
	path = Nova-Tools
	url = https://github.com/CaptainBoots/Nova-Tools.git
[submodule "Avali-Tools"]
	path = Avali-Tools
	url = https://github.com/CaptainBoots/Avali-Tools.git
[submodule "Synth-Tools"]
	path = Synth-Tools
	url = https://github.com/CaptainBoots/Synth-Tools.git
