# Virtual environments
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.idea/
.vscode/
/CLAUDE.md
/GEMINI.md
/AGENTS.md

# None Tools
/Nova-Tools/configs/
/Nova-Tools/LibreHardwareMonitor/
/Nova-Tools/PyToolBox-Launcher/
/Nova-Tools/CToolBox-Launcher/

# PyInstaller build artifacts & compiled binaries
build/
dist/
.exe
.dll
*.pkg
*.bak
*.bak.*
index.html
script.js
styles.css

# Developer automation scripts
/dev-*.bat
/Warnings/
